<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">About Us</h1>
</div>
<div class="hbox hbox-auto-xs hbox-auto-sm">

    <div class="col">
        <div class="clearfix padder-md">
            <h4 class="m-t-xl text">Who We Are</h4>
            <p>
                Jether Tech Limited&reg; in conjunction with rip-off Nigeria is a consumer service complaint platform focused on ensuring that companies, businesses, individuals produce and deliver goods and services in accordance with consumer protection Act of 1992. 
                The aim of the project is to ensure businesses in Nigeria improve on the quality of goods and services they provide to consumers in Nigeria and to ensure business owners are held responsible and liable for their shortcomings. rip-off Nigeria with its legal team would follow up and make sure cases reach a logical conclusion. 
                The obtainable reliefs for any reported and litigated consumer protection case would either be replacement of the product, refund of the purchase price or in cases where the consumer has suffered irreparable damage and untold loss from the use or non-use of such product or service, the consumer would be entitled to compensation. 
                Generally, our objective is to reduce the rate of consumer rip-off across Nigeria and provide Nigerians with relevant information and solutions to rip-off and exploitation. We also give you an insight on things you need to know from a legal point of view.
            </p>

            <div id="node-req" class="wrapper"></div>
            <div class="line b-b"></div>
            <h4 class="m-t-xl text">Our Vision</h4>
            <p>
                To be a dynamic, effective and responsible organization championing the cause of fully sensitized consumers to achieve a caring and consumer-friendly community. 
                We seek to be unbiased voice of both consumers and producers.
            </p>
            <div id="bower" class="wrapper"></div>
            <div class="line b-b"></div>
            <h4 class="m-t-xl text">Our Mission</h4>
            <p>
                A dedicated effort to the improvement of customer service delivery across Nigeria and consumer standard ethics. We are committed to protecting and enhancing consumers’ interest through information, education and to promote an environment of fair and ethical trade practices.
            <p>


                <div id="grunt" class="wrapper"></div>
                <div class="line b-b"></div>
                <h4 class="m-t-xl text">Our Values</h4>
            <p>
                Our core values are:  
                <ul>
                    <li>Respect</li>
                    <li>Responsiveness</li>
                    <li>Knowledge Creativity & Innovation</li>
                    <li>Integrity & Trust</li>
                    <li>Alliance & Collaboration</li>
                    <li>Quality</li>
                </ul>
            </p>
            <div id="dev-server" class="wrapper"></div>
            <div class="line b-b"></div>
            <h4 class="m-t-xl text">Why We Started</h4>
            <p>
                Two years ago, while surfing the internet, I came across a thread on a blog, where a guy was complaining bitterly about the product that was delivered to him from an online e-commerce site, he said he had called their customer service but they haven't replaced the product. And for hours I kept pondering, why don’t we have a platform that works with the legal system to educate Nigerians on what steps to be taken in issues like this? So we started with the model of the project, wrote proposals to few legal firms and we kicked off the project. A year ago, a senior colleague of mine from the university also complained on Facebook about how he had sent back a new phone he bought to the phone company and haven't gotten a replacement after 2 months.
                This gave birth to a burning desire towards the pursuit of a better goods and service delivery to consumers.
            </p>
            <p>
                One of the most paramount goals of rip-off Nigeria is to, among others, eliminate hazardous products from the market, provide speedy redress to consumers complaints, make publications that will lead to increased consumer awareness, ensure that consumers interest receive due consideration at the appropriate forum, and encourage trade, industry and professional associations to develop and enforce in their various fields quality standards designed to safeguard the interest of consumers.
            </p>
            <p>
                While using all legitimate means to eliminate the scourge of consumer rights abuse in the Nigerian market place, we are conscious of the fact that an uninformed consumer population cannot be effectively protected if they do not know that they have rights, what the rights are, and how the rights could be protected. Businesses also need to be well acquainted with their obligations to consumers.
                It is our hope that with the co-operation of all market players, our country will become a better consumer-friendly nation.
            </p>
            <div id="censor" class="wrapper"></div>
            <div class="line b-b"></div>
            <h4 class="m-t-xl text">Why Choose rip-off Nigeria</h4>
            <p>
                Various business products and services exist in the market, the need to find the one which meets your consumer needs is a herculean task. rip-off Nigeria is not just any firm but a firm with top of the chart customer engagement approach. We at rip-off Nigeria provide a platform for you to tailor your complaints. 
                rip-off Nigeria is built round a performance-oriented, standard-actualization and service delivery framework to meet our clients’ needs. The aim of rip-off Nigeria is to increase the STANDARDS of goods and service delivery from businesses or individuals.
            </p>
                
            <p>
                rip-off Nigeria is not an off-the shelf solution, it provides clients with a committed support communication channel and physical presence to address clients’ needs and attend to additional business offers.
            </p>

        </div>
    </div>
</div>
<div class="line line-lg b-b b-light"></div>
<div class="col-md-9">
    <span class="help-block m-b-none" ng-show="!authLog(false)"><small>You must be logged in to send us a message. Already have an account? Login <a ui-sref="access.signin" ng-click="cancel()">here</a> OR <a ui-sref="app.access.signup" ng-click="cancel()">REGISTER</a> to become a member.</small></span>
    <div class="line line-lg b-b b-light"></div>
    <div class="panel wrapper">
        <form name="contactForm" class="form-validation">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="h4">Contact Us</span>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" rows="6" name="contact" ng-model="feedback.FeedbackMssg" placeholder="Please type your message here" required></textarea>
                    </div>
                    <div class="form-group has-error" ng-messages="contactForm.contact.$error" ng-if="contactForm.$submitted || contactForm.contact.$touched">
                        <div class="help-block" ng-message="required">Field cannot be empty</div>
                    </div>
                </div>
                <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                    {{message}}
                </div>
                <footer class="panel-footer text-right bg-light lter">
                    <button type="submit" class="btn btn-success" ng-disabled="contactForm.$invalid" data-ng-click="saveFeedback()">Submit</button>
                </footer>
            </div>
        </form>

    </div>
</div>
