<div>
    <div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = true;
  ">
        <!-- main -->
        <div class="col">
            <!-- main header -->
            <div class="bg-light lter b-b wrapper-md">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <h1 class="m-n font-thin h3 text-black">Nigeria's Online Complaint Website</h1>
                        <i><small class="text-muted">Welcome to the consumers' unbiased complaint platform</small></i>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <img src="img/banner1.jpg" class="img-full">
                    </div>
                </div>
            </div>
            <!-- / main header -->
            <div class="wrapper-md">
                <div class="wrapper bg-white b-b">
                    <p class="nav nav-pills nav-sm">
                        <h3>Consumer Protection In Nigeria</h3>
                    </p>
                </div>
                <!-- stats -->
                <div class="row">
                    <div class="col-md-12">

                        <div class="panel wrapper" ui-jq="slimScroll" ui-options="{height:'250px', size:'8px'}">
                            <p>A consumer is legally defined as an individual who purchases and uses products and services in contradistinction to manufacturers who produce the goods or services and wholesalers or retailers who distribute and sell them. A purchaser has legal right to enforce any implied or express warranties pertaining to the item purchased against the manufacturer who introduced the goods and/or services into the market or the seller who has made them an item of sale.<p>
                            <p>Section 32 of the Consumer Protection Council Act, Laws of the Federation of Nigeria, 2004 further defined a consumer as "an individual, who purchases, uses, maintains or disposes off products or services".</p>
                            <p>Another apt definition of a consumer is that ' a consumer' is considered to be any natural person or legal entity to which a product or service offered on the market is addressed. The person or legal entity deemed to be a consumer in this sense should make use of the product or service provided it constitutes the end user of such product or service.</p>
                            <p>It is essential to provide these various but conjoined definitions of who a consumer is to enable the client/customer understand the various situations or circumstances in which he can be defined as a consumer.</p>
                            <p>Consumers are always right is a saying that has gained popularity, wide recognition and acceptance. In all truth, the consumer isn't always right. However, when a consumer purchases a good or service, he expects that such delivery comes without any default. This is where the problem arises. Most business organizations are ready to receive the consumer's money but do not take extra caution to ensure that the goods and services produced and delivered are of top quality and equivalence to the amount paid. As a result of these issues, consumer protection laws were enacted and consumers became more aware of their rights when purchasing goods and services.</p>
                            <p>Consumer protection Laws are group of laws designed to ensure and protect the rights of consumers and ensure the goods and services available for consumption meet their expectations and ensure by that consumers have access to accurate information about products and services for sale and to also ensure that a consumer gets good service for money paid.</p>
                            <p>Consumerism is the protection of rights and interests of consumers including right to safety, right to information, right to choose, right to redress, right to consumer education, right to consumer representation and right to a healthy environment.</p>
                            <p>Additionally, consumer protection laws are also created to regulate less competitive companies from producing sub-standard goods thereby ensuring that every consumer whether rich or poor has access to quality goods and effective services.</p>
                            <p>Where a consumer is not satisfied or feels short-changed, he or she is entitled to seek redress by possible compensation through a regulatory body or through the institution of legal actions in a competent court of law. In Nigeria for instance, the body charged with the protection and regulation of consumer rights and consumer protective laws is the Consumer Protection Council (C.P.C).</p>
                            <p>The Consumer Protection Council (C.P.C) was established by The Consumer Protection Council Act No. 66 of 1992 to provide holistic protection of the consumer in line with the United Nations Guidelines for Consumer Protection of 1985. The Consumer Protection Council is an agency of the Federal Government of Nigeria, supervised by the Federal Ministry of Trade and Investment. It is the apex consumer protection agency of the Federal Government of Nigeria.</p>
                            <p>Though it was established by an Act in 1992, it commenced operations only in 1999, when its institutional framework was put in place. This was the first formal step towards giving the Nigerian consumer hope of redress when wronged by a product or service he used.</p>
                            <p>Despite this structure set up by the Nigerian Government to ensure consumers' protection, Nigerian consumers are among the most exploited in the globe. You talk of consumer exploitation and you think of the maltreatment that Nigerian tenants suffer in the hands of landlords like incessant hikes in rents. You also have the case of epileptic power supply by the Power Holding Company of Nigeria (P.H.C.N) and yet exorbitant bills are at your doorpost even before the month ends. Most products in the market place do not even meet the standard projected or advertised to consumers.</p>
                            <p>It is for these purposes that we at rip-off Nigeria have chosen to be an intermediary. We have chosen to bring awareness to Nigerians that every consumer has a right to consumption of quality goods and services and should not be subjected to the whims and caprices of production companies, manufacturers and retailers. We have chosen not to rest on our oars until consumer exploitation is brought to its minimum in Nigeria.</p>
                            <p>rip-off Nigeria is a platform created for the purpose of offering legal services to persons who have been victims of consumer exploitation. We feel the need to emphasize that we cannot be of help if such exploitations are not reported and as such we urge consumers to report such issues on our website by registering and filling the complaint form.</p>
                        </div>


                        <!--<accordion close-others="oneAtATime">

                            <accordion-group is-open="status.open" class="panel wrapper">
                                <accordion-heading>
                                    <strong>Introduction</strong> <i class="pull-right fa fa-angle-right text-info" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}">Read more</i>
                                </accordion-heading>
                                <p>A consumer is legally defined as an individual who purchases and uses products and services in contradistinction to manufacturers who produce the goods or services and wholesalers or retailers who distribute and sell them. A purchaser has legal right to enforce any implied or express warranties pertaining to the item purchased against the manufacturer who introduced the goods and/or services into the market or the seller who has made them an item of sale.<p>
                                <p>Section 32 of the Consumer Protection Council Act, Laws of the Federation of Nigeria, 2004 further defined a consumer as "an individual, who purchases, uses, maintains or disposes off products or services".</p>
                                <p>Another apt definition of a consumer is that ' a consumer' is considered to be any natural person or legal entity to which a product or service offered on the market is addressed. The person or legal entity deemed to be a consumer in this sense should make use of the product or service provided it constitutes the end user of such product or service.</p>
                                <p>It is essential to provide these various but conjoined definitions of who a consumer is to enable the client/customer understand the various situations or circumstances in which he can be defined as a consumer.</p>
                                <p>Consumers are always right is a saying that has gained popularity, wide recognition and acceptance. In all truth, the consumer isn't always right. However, when a consumer purchases a good or service, he expects that such delivery comes without any default. This is where the problem arises. Most business organizations are ready to receive the consumer's money but do not take extra caution to ensure that the goods and services produced and delivered are of top quality and equivalence to the amount paid. As a result of these issues, consumer protection laws were enacted and consumers became more aware of their rights when purchasing goods and services.</p>
                                <p>Consumer protection Laws are group of laws designed to ensure and protect the rights of consumers and ensure the goods and services available for consumption meet their expectations and ensure by that consumers have access to accurate information about products and services for sale and to also ensure that a consumer gets good service for money paid.</p>
                                <p>Consumerism is the protection of rights and interests of consumers including right to safety, right to information, right to choose, right to redress, right to consumer education, right to consumer representation and right to a healthy environment.</p>
                                <p>Additionally, consumer protection laws are also created to regulate less competitive companies from producing sub-standard goods thereby ensuring that every consumer whether rich or poor has access to quality goods and effective services.</p>
                                <p>Where a consumer is not satisfied or feels short-changed, he or she is entitled to seek redress by possible compensation through a regulatory body or through the institution of legal actions in a competent court of law. In Nigeria for instance, the body charged with the protection and regulation of consumer rights and consumer protective laws is the Consumer Protection Council (C.P.C).</p>
                                <p>The Consumer Protection Council (C.P.C) was established by The Consumer Protection Council Act No. 66 of 1992 to provide holistic protection of the consumer in line with the United Nations Guidelines for Consumer Protection of 1985. The Consumer Protection Council is an agency of the Federal Government of Nigeria, supervised by the Federal Ministry of Trade and Investment. It is the apex consumer protection agency of the Federal Government of Nigeria.</p>
                                <p>Though it was established by an Act in 1992, it commenced operations only in 1999, when its institutional framework was put in place. This was the first formal step towards giving the Nigerian consumer hope of redress when wronged by a product or service he used.</p>
                                <p>Despite this structure set up by the Nigerian Government to ensure consumers' protection, Nigerian consumers are among the most exploited in the globe. You talk of consumer exploitation and you think of the maltreatment that Nigerian tenants suffer in the hands of landlords like incessant hikes in rents. You also have the case of epileptic power supply by the Power Holding Company of Nigeria (P.H.C.N) and yet exorbitant bills are at your doorpost even before the month ends. Most products in the market place do not even meet the standard projected or advertised to consumers.</p>
                                <p>It is for these purposes that we at rip-off Nigeria have chosen to be an intermediary. We have chosen to bring awareness to Nigerians that every consumer has a right to consumption of quality goods and services and should not be subjected to the whims and caprices of production companies, manufacturers and retailers. We have chosen not to rest on our oars until consumer exploitation is brought to its minimum in Nigeria.</p>
                                <p>rip-off Nigeria is a platform created for the purpose of offering legal services to persons who have been victims of consumer exploitation. We feel the need to emphasize that we cannot be of help if such exploitations are not reported and as such we urge consumers to report such issues on our website by registering and filling the complaint form.</p>
                        </accordion-group>
                        </accordion>-->
                    </div>

                </div>

                <!--<div class="panel wrapper">
                    <h4 class="text-black center text-lg">Site Sponsor</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class=" m-b">
                                <div class="m-b">
                                    <img src="img/full_chronicles.jpg" class="b b-a wrapper-xs bg-white img-responsive">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class=" m-b">
                                <div class="m-b">
                                    <img src="img/logo_adeyemo.jpg" class="b b-a wrapper-xs bg-white img-responsive">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>-->
                <!--<div class="panel wrapper">
                    <h4 class="text-black center text-lg">Site Sponsor</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class=" m-b">
                                <div class="m-b">
                                    <img src="img/full_chronicles.jpg" class="b b-a wrapper-xs bg-white img-responsive">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>-->
                <!--<div class="panel wrapper">
                    <h4 class="text-black center text-lg">Site Sponsor</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <div class=" m-b">
                                <div class="m-b">
                                    <img src="img/full_chronicles.jpg" class="b b-a wrapper-xs bg-white img-responsive">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>-->
                <!-- / tasks -->
            </div>
        </div>
        <!-- / main -->
        <!-- right col -->
        <div class="col col-lg-3 bg-white-only b-l bg-auto no-border-xs" cg-busy="myPromise">
            <div class="nav-tabs-alt">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a data-target="#tab-1" role="tab" data-toggle="tab">
                            <div class="m-b-sm text-md">Latest Reports</div>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tab-1">
                    <div class="wrapper-md">
                        <span class="text-muted m-t-xl" ng-show="!mssgToShow">Consumers are happy!</span>
                        <ul class="list-group no-borders pull-in auto" ng-repeat="report in reports">
                            <li class="list-group-item">
                                <span class="pull-left thumb-sm m-r">
                                    <i class="icon-bell fa-fw"></i>
                                    <span class="badge badge-sm up bg-danger pull-right-xs">new</span>
                                </span>
                                <div class="clear">
                                    <div><a class="text-info-dker btn-link" ui-sref="app.report.detail({reportId:report.id})">{{report.reportText| htmlToPlaintext|limitTo: 150}}{{report.reportText.length > 150 ? '...' : ''}}</a></div>
                                    <small class="text-muted">{{report.dateCreated| fromNow}}</small>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>


            <!--<div data-ng-include=" 'tpl/blocks/aside.right.html' ">
            {% include '../tpl/blocks/aside.right.html' %}
        </div>-->
        </div>
        <!-- / right col -->
    </div>
 </div>
